:root {
  --darker: #192f32;
  --purple: #c71585;
  --orang: #feaf77;
}

/* ===================================== 
  -----------    Grid Layout    -----------
  ======================================== */

.container {
  height: 100vh;
  color: var(--darker);
  display: grid;
  font-family: 'Poppins', sans-serif;
  grid-template-columns: 1fr;
  grid-auto-rows: 80px 1fr 50px;
  grid-gap: 2px;
  grid-template-areas:
    'head'
    'main'
    'footer';
}
#head {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 2px 5px -1px rgb(50 50 93 / 25%),
    0 1px 3px -1px rgb(0 0 0 / 30%);
}

.logo span {
  color: var(--purple);
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 700;
}
#main {
  grid-area: main;
}
#footer {
  grid-area: footer;
  box-shadow: 0px -2px 5px -1px rgb(50 50 93 / 25%),
    0px -1px 3px -1px rgb(0 0 0 / 30%);
}

.App {
  text-align: center;
}
h2 {
  color: var(--orang);
  text-decoration: underline;
}
h3 {
  color: var(--purple);
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 2px;
}
/* ===================================== 
  -----------  Input    -----------
  ======================================== */
input[type='text'] {
  width: 100%;
  padding: 0.4rem 0.6rem;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 50vw;
  background-color: #ffb9ed;
  color: var(--darker);
}
input:focus {
  outline-color: deeppink;
}
.search {
  display: flex;
  justify-content: center;
}
.search-input {
  max-width: 55%;
}
/* ===================================== 
  -----------  Header    -----------
  ======================================== */

.fav {
  border-radius: 50vw;
  cursor: pointer;
  color: var(--orang);
  font-weight: 700;
  transition: background-color 0.5s;
  padding: 0.3rem;
}
.fav:hover {
  background-color: #ffeafa;
}
/* ===================================== 
  -----------  content    -----------
  ======================================== */
.search-container {
  margin: 0.5rem 1rem;
}
.list-item {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  margin: 1rem auto;
  font-size: 1.5rem;
}
.random-drink {
  display: flex;
  flex-direction: column;
  align-items: center;
}
